# Ignorar entornos virtuales
venv/
env/
myenv/

# Archivos de Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
*.pyo

# Archivos de configuración de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración y credenciales
.env
.env.*