body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

#live2d {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#BeginRecognition {
    position: absolute;
    top: 10%;
    left: 10%;
    padding: 10px 20px;
    width: 250px;
    font-size: 16px;
    background-color: #38e08c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

#TextDetection {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 250px;
    font-size: 18px;
    color: #333;
}

#GPTAnswer {
    position: absolute;
    top: 20%;
    right: 10%;
    width: 250px;
    font-size: 18px;
    color: #333;
}